.login-card{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    color: #6697ff;    
    border: 1px solid #5d5d5d;
    border-radius: 10px;
    box-shadow: #313131 0px 0px 10px;
    background-color: #171717;
    padding: 10px;
    text-align: center;
    max-width: 900px;
    max-height: 900px;
    margin: 50px auto;
}

.login-box{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 90%;
    font-weight: 600;
    margin-left: 25px;
    text-align: left;
    font-size: 24px;
    border: #313131 1px solid;
    background-color: #2525254c;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

.input-name{
    font-size: 20px;
    font-weight: 600;
    color: #c5c5c5;
    margin: auto;
    padding: 25px;
    display: inline-block;
    text-align: right;
    width: 10%;
}

.input-field{
    padding: 10px;
    width: 80%;
    margin-top: 20px;
    box-sizing: border-box;
    border: 2px solid #555555;
    border-radius: 10px;
    background-color: #1a1a1a;
    color: #f1f5f9;
    font-size: 18px;
}

.login-button{
    width: 120px;
    font-size: 24px;
    font-weight: 600;
    color: #f1f5f9;
    background-color: #6697ff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover{
    background-color: #557de8;
}

.signup-link{
    font-size: 18px;
    color: #565656;
    text-decoration: none;
    margin-top: 20px;
}

.signup-link a,
.signup-link a:visited,
.signup-link a:hover,
.signup-link a:active,
.signup-link a:focus {
    color: #557de8;
    text-decoration: none;
    outline: none;
}